@import 'jeet'

section
  center(1080px)
li, ul
  list-style none
  padding 0
  margin 0
core-toolbar
  font-size 2em
body
  font-family helvetice, sans-serif

.top-level-message
  padding 15px 17px 15px 25.5px
