.selected-message
  padding 15px 17px 15px 25.5px

.reply-list-item
  padding 15px 17px 15px 25.5px

/* Message Partial */


/* .message-show-title */
/*   font 2.5em monospace */
/*  */
/* .message-show-subject */
/*   font 1.5em monospace */
/*  */
/* .message-show-author */
/*   font 1em monospace */
/*  */
/* .message-show-body */
/*   font 1em monospace */
