@import 'jeet'

section
  center(1080px)
li, ul
  list-style none
  padding 0
  margin 0
core-toolbar
  font-size 2em
body
  font-family helvetice, sans-serif

input[type="submit"]
  background black
  border none
  color white
  padding 15px 30px
  font-weight bolder
textarea
  width 97%
  height 130px
  border none
.new-message-form
  padding 10px
  border 1px solid black
  margin-bottom 25px
  margin-top 10px
*:focus
  outline 0px none transparent

.new-message-top-level
  padding 20px
  padding-top 0
  border 2px solid whitesmoke
  border-top 0
  margin-bottom 25px
input
  border none
.new-body
  padding 10px
.new-header
  background black
  color white
  padding 10px
  margin-left 22.5px
  margin-right 22.5px
  margin-top 25px
.new-subject
  padding 10px
  border-bottom 2px solid whitesmoke

.top-level-message, .common-message, .selected-message
  padding 15px 17px 15px 25.5px
  overflow auto

.author
  span(1/5)
.body-wrapper
  span(3/5)
.date
  span(1/5)
.top-level-messages
  border-bottom 2px solid whitesmoke

.common-message
  padding-bottom 30px
  border-bottom 2px solid whitesmoke
.common-message > .body
  span(5/5)
.common-message > .date, .selected-message > .date
  span(1/5)
  shift(3/5)
.common-message > .author
  margin-bottom 15px
  font-weight bold

.selected-message
  background whitesmoke
.selected-message > .body
  span (5/5)
.selected-message > .subject
  font-size x-large
  border-bottom 2px solid whitesmoke
  padding-bottom 10px
  margin-bottom 10px
.selected-message > .author
  font-weight bold
  margin-bottom 15px

footer
  position fixed
  width 100%
  bottom 0
  height 2vh
  background black
